lib/
obj/
**Cheese Util Mod.csproj
**Cheese Util Mod.csproj.user
**Cheese Util Mod.sln
**genreference.py
**references.txt
**bin
.vs/

# JetBrains IDE:
/.idea/
HarmonyForLogicWorld
EccsLogicWorldAPI
EccsGuiBuilder
CheeseUtilMod2.sln.DotSettings.user
